<% provide(:title, @wine.full_name) %>

<div class="wineHeading">
  <div class="span3">
    <img class="labelImage" src="/assets/samplelabel.jpg">
  </div>

  <div class="wineDetails span8">
    <div class="wineYear"><%= @wine.year %></div>
    <div class="wineProducer"><%= @wine.producer %></div>
    <div class="wineName"><%= @wine.brand_name %></div>
    <div class="subHeading">
      Grape/Region:
      <% unless @wine.grape_wine_name.blank? %>
        <%= @wine.grape_wine_name %>
      <% else %>
        Unknown
      <% end %>
    </div>
  </div>
</div>
<div style="clear: both"></div>
<% if @wine.reviews.any? %>
  <p>
  <div class="averageRating">
    <span class="subHeading">Average Rating: </span>
    <%= number_with_precision(@wine.reviews.average(:score), precision: 1) %> / 5.0
  </div>
  </p>
<% end %>
<div class="reviewSection">
  <%= render 'reviews' %>
</div>