<p id="notice"><%= notice %></p>

<p>
  <b>Producer:</b>
  <%= @wine.producer %>
</p>

<p>
  <b>Brand name:</b>
  <%= @wine.brand_name %>
</p>

<p>
  <b>Year:</b>
  <%= @wine.year %>
</p>

<p>
  <b>Grape wine name:</b>
  <%= @wine.grape_wine_name %>
</p>

<p>
  <b>Color:</b>
  <%= @wine.color %>
</p>

<p>
  <b>Classification:</b>
  <%= @wine.classification %>
</p>


<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
