<% provide(:title, @wine.full_name) %>

<div class="wineHeading">
  <div class="span4">
    <img class="labelImage" src="/assets/samplelabel.jpg">
  </div>

  <div class="wineDetails span4">
    <div class="wineYear"><%= @wine.year %></div>
    <div class="wineProducer"><%= @wine.producer %></div>
    <div class="wineName"><%= @wine.brand_name %></div>
  </div>
  <div class="wineQuickRatings span4">
    <p>✯✯✯</p>
    <p>$$</p>
    <div class="subHeading">
      <%= "#{@wine.color} #{@wine.classification.downcase} wine" %>
    </div>
    <div class="subHeading">
      Grape/Region:
      <% unless @wine.grape_wine_name.blank? %>
        <%= @wine.grape_wine_name %>
      <% else %>
        Unknown
      <% end %>
    </div>
  </div>
</div>
<div style="clear: both"></div>
<div class="section-break">
  <%= render 'reviews' %>
</div>
<div style="clear: both"></div>
