<% provide(:title, @wine.full_name) %>
<h1>
  <%= @wine.full_name %>
</h1>

<p>
<b>Grape/Region: </b>
<% unless @wine.grape_wine_name.blank? %>
     <%= @wine.grape_wine_name %>
<% else %>
     Unknown
<% end %>
</p>

<p>
<% unless @wine.color.blank? && @wine.classification.blank? %>
  <%= @wine.color %>
  <%= @wine.classification %>
  Wine
<% end %>
</p>

<p>
  <% if @wine.reviews.any? %>
    <h3>Reviews (<%= @wine.reviews.count %>)</h3>
    <ol>
      <%= render @wine.reviews %>
    </ol>
  <% end %>
</p>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
